<!-- <div class="contact-list">
    <h2>Mes Contacts</h2>
    <ul>
      <li *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <span>{{ contact.nom }} {{ contact.prenom }}</span>
        <button (click)="deleteContact(contact.id); $event.stopPropagation()">Supprimer</button>
      </li>
    </ul>
    <a routerLink="/add-contact">Ajouter un contact</a>
  </div>
   -->

   <!-- <div class="contact-list">
    <h2>Mes Contacts</h2>
    <ul>
      <li *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <span>{{ contact.nom }} {{ contact.prenom }}</span>
        <button (click)="deleteContact(contact.id); $event.stopPropagation()">Supprimer</button>
      </li>
    </ul>
    <a routerLink="/add-contact">Ajouter un contact</a>
  </div> -->
  <div class="contact-list">
    <h2>Mes Contacts</h2>
    <ul>
      <li *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <span>{{ contact.nom }} {{ contact.prenom }}</span>
        <button (click)="deleteContact(contact.id); $event.stopPropagation()">Supprimer</button>
      </li>
    </ul>
    <a routerLink="/add-contact">Ajouter un contact</a>
  </div>
  
  
  