<div class="container my-5">
  <!-- Alignement du bouton et de la barre de recherche -->
  <div class="d-flex justify-content-around align-items-center mb-4">
    <a routerLink="/add-contact" class="btn btn-primary">Ajouter un contact</a>
    <input
      type="text"
      class="form-control"
      placeholder="Rechercher par nom ou prénom"
      [(ngModel)]="searchTerm"
      (input)="searchContacts()"
    />
  </div>

  <div class="card p-4 shadow-sm">
    <h2 class="text-center mb-4">Mes Contacts</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let contact of contacts"> <!-- Conserver *ngFor pour itérer sur les contacts -->
        <div class="card h-100">
          <img [src]="contact.image" class="card-img-top" alt="Photo de profil">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title" (click)="onSelect(contact)" style="cursor: pointer;">
              {{ contact.prenom }} {{ contact.nom }}
            </h5>
            <div class="mt-auto d-flex justify-content-between">
              <button class="btn btn-warning btn-sm" (click)="editContact(contact.id); $event.stopPropagation()">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteContact(contact.id); $event.stopPropagation()">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
