/* Assurer que les cartes ont la même hauteur */
.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Assurer que les cartes occupent toute la hauteur disponible de leur conteneur */
  }
  
  .card-img-top {
    object-fit: cover; /* Maintenir le rapport d'aspect sans déformer l'image */
    height: 200px; /* Hauteur fixe pour toutes les images */
  }
  
  /* Assurer que la barre de recherche et le bouton sont sur la même ligne */
  .d-flex {
    gap: 10px; /* Ajouter de l'espace entre le bouton et la barre de recherche */
  }
  
  input.form-control {
    flex: 1; /* Prendre tout l'espace disponible */
  }
  