<!-- <app-login *ngIf="!isLoggedIn" (loginSuccess)="onLoginSuccess()"></app-login>
<app-contact-list *ngIf="isLoggedIn" (selectContact)="onSelectContact($event)"></app-contact-list>
<app-contact-form *ngIf="isAddingContact" (contactSaved)="onContactSaved()"></app-contact-form>
<app-contact-details *ngIf="selectedContact" [contact]="selectedContact"></app-contact-details>
<app-trash *ngIf="isViewingTrash"></app-trash> -->

<header *ngIf="isLoggedIn">
    <nav>
      <a routerLink="/contacts" routerLinkActive="active">Mes Contacts</a>
      <a routerLink="/trash" routerLinkActive="active">Corbeille</a>
      <a href="#" (click)="logout()">Se déconnecter</a>
    </nav>
  </header>
  
  <router-outlet></router-outlet>
  
  
  